/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.gif {
  width: 75%;
  border-radius: 5px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .gif {
    width: 100%;
    border-radius: 5px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
